odd/fragdig.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="oddex1" start="TEI">
        <moduleRef key="header" include="availability teiHeader fileDesc publicationStmt idno fileDesc titleStmt publicationStmt availability sourceDesc extent"/>
        <moduleRef key="core" include="title author respStmt resp pubPlace date p title author respStmt resp name publisher ref textLang graphic listBibl pb head lg l choice abbr expan add milestone"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="TEI text body div"/>
        <moduleRef key="msdescription" include="msDesc msIdentifier repository msContents msItem history origin origDate origPlace msName physDesc objectDesc supportDesc support measure dimensions width height"></moduleRef>
        <moduleRef key="namesdates" include="settlement"/>
        <moduleRef key="transcr" include="facsimile surface zone"></moduleRef>
        <moduleRef key="gaiji" include="g charDecl glyph glyphName mapping"></moduleRef>
      </schemaSpec>
      
      <elementSpec ident="TEI" module="textstructure" mode="change">
      </elementSpec>
      <elementSpec ident="teiHeader" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="fileDesc" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="titleStmt" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="title" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="ubtype" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="author" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="respStmt" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="resp" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="name" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="full" mode="delete"/>
          <attDef ident="sort" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="publicationStmt" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="publisher" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="pubPlace" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="date" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <!--  <attDef ident="when" mode="delete"/> -->
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="dur" mode="delete"/>
          <attDef ident="dur-iso" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          <attDef ident="unit" mode="delete"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="extent" mode="delete"/>
          <attDef ident="precision" mode="delete"/>
          <attDef ident="scope" mode="delete"/>
          <attDef ident="atLeast" mode="delete"/>
          <attDef ident="atMost" mode="delete"/>
          <attDef ident="min" mode="delete"/>
          <attDef ident="max" mode="delete"/>
          <attDef ident="confidence" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>

        </attList>
      </elementSpec>
      <elementSpec ident="availability" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="default" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="p" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="part" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="ref" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="targetLang" mode="delete"/>
          <!--  <attDef ident="target" mode="delete"/>-->
          <attDef ident="evaluate" mode="delete"/>
          <attDef ident="mimeType" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="cRef" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="idno" module="header" mode="change">

        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="sortKey" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="type" mode="change" usage="rec"/>
          <attDef ident="subtype" mode="delete"/>

        </attList>
      </elementSpec>
      <elementSpec ident="sourceDesc" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="default" mode="delete"/>
        </attList>
      </elementSpec>
      <elementSpec ident="msDesc" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="sortKey" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="status" mode="delete"/>
        </attList>

      </elementSpec>
      <elementSpec ident="msIdentifier" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>  
      
      
      <elementSpec ident="settlement" module="namesdates" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
        </attList>
      </elementSpec>

      <elementSpec ident="repository" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
        </attList>
      </elementSpec>

      <elementSpec ident="msContents" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
        <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="defective" mode="delete"/>
          <attDef ident="class" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      

      
      
      <elementSpec ident="textLang" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="change" usage="opt"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      
      
      <elementSpec ident="msItem" module="msdescription" mode="change">
        <attList>

<attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="defective" mode="delete"/>
          <attDef ident="class" mode="delete"/>
          

        </attList>
      </elementSpec>
      
      
      <elementSpec ident="history" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          
        </attList>
      </elementSpec>
      <elementSpec ident="origin" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="origDate" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="change" usage="opt"/>
          <attDef ident="notAfter" mode="change" usage="opt"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="unit" mode="delete"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="extent" mode="delete"/>
          <attDef ident="precision" mode="delete"/>
          <attDef ident="scope" mode="delete"/>
          <attDef ident="atLeast" mode="delete"/>
          <attDef ident="atMost" mode="delete"/>
          <attDef ident="min" mode="delete"/>
          <attDef ident="max" mode="delete"/>
          <attDef ident="confidence" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          
        </attList>
      </elementSpec>
      <elementSpec ident="origPlace" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="role" mode="delete"/>
          <attDef ident="nymRef" mode="delete"/>
          <attDef ident="key" mode="delete"/>
          <attDef ident="ref" mode="delete"/>
          <attDef ident="calendar" mode="delete"/>
          <attDef ident="period" mode="delete"/>
          <attDef ident="when" mode="delete"/>
          <attDef ident="notBefore" mode="delete"/>
          <attDef ident="notAfter" mode="delete"/>
          <attDef ident="from" mode="delete"/>
          <attDef ident="to" mode="delete"/>
          <attDef ident="when-iso" mode="delete"/>
          <attDef ident="notBefore-iso" mode="delete"/>
          <attDef ident="notAfter-iso" mode="delete"/>
          <attDef ident="from-iso" mode="delete"/>
          <attDef ident="to-iso" mode="delete"/>
          <attDef ident="when-custom" mode="delete"/>
          <attDef ident="notBefore-custom" mode="delete"/>
          <attDef ident="notAfter-custom" mode="delete"/>
          <attDef ident="from-custom" mode="delete"/>
          <attDef ident="to-custom" mode="delete"/>
          <attDef ident="datingPoint" mode="delete"/>
          <attDef ident="datingMethod" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          
        </attList>
      </elementSpec>
      <elementSpec ident="facsimile" module="transcr" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="decls" mode="delete"/>  
        </attList>
      </elementSpec>
      <elementSpec ident="surface" module="transcr" mode="change">
        <attList>
          <attDef ident="xml:id" mode="change" usage="rec"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="start" mode="delete"/>
          <attDef ident="ulx" mode="delete"/>
          <attDef ident="uly" mode="delete"/>
          <attDef ident="lrx" mode="delete"/>
          <attDef ident="lry" mode="delete"/>
          <attDef ident="points" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="attachment" mode="delete"/>
          <attDef ident="flipping" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="graphic" module="core" mode="change">
        <attList>          
          <attDef ident="xml:id" mode="change" usage="rec"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>         
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="width" mode="delete"/>
          <attDef ident="height" mode="delete"/>
          <attDef ident="scale" mode="delete"/>
          <attDef ident="mimeType" mode="change" usage="rec" />
          <attDef ident="url" mode="change" usage="rec"/>
          <attDef ident="decls" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="zone" module="transcr" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="start" mode="delete"/>
          <attDef ident="ulx" mode="delete"/>
          <attDef ident="uly" mode="delete"/>
          <attDef ident="lrx" mode="delete"/>
          <attDef ident="lry" mode="delete"/>
          <attDef ident="points" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
          <attDef ident="rotate" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="text" module="textstructure" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="body" module="textstructure" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="listBibl" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="sortKey" mode="delete"/>
          <attDef ident="default" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="msName" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <!--  <attDef ident="xml:lang" mode="delete"/> -->
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="physDesc" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="objectDesc" module="msdescription" mode="change">
        <attList>          
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="form" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="supportDesc" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="extent" mode="change"/>
          <attDef ident="material" mode="change" usage="req" select="paper parch mixed"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="support" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="pb" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="change" usage="rec"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="change" usage="rec"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="change" usage="req"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="ed" mode="delete"/>
          <attDef ident="edRef" mode="delete"/>
          <attDef ident="spanTo" mode="delete"/>
          <attDef ident="break" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="head" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="place" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="div" module="textstructure" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="change" usage="opt"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="org" mode="delete"/>
          <attDef ident="sample" mode="delete"/>
          <attDef ident="met" mode="delete"/>
          <attDef ident="real" mode="delete"/>
          <attDef ident="rhyme" mode="delete"/>
          <attDef ident="part" mode="delete"/>
          <attDef ident="type" mode="change" usage="opt"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
          <attDef ident="hand" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="lg" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="org" mode="delete"/>
          <attDef ident="sample" mode="delete"/>
          <attDef ident="met" mode="delete"/>
          <attDef ident="real" mode="delete"/>
          <attDef ident="rhyme" mode="delete"/>
          <attDef ident="part" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="decls" mode="delete"/>
         
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="l" module="core" mode="change">
        <attList>          
          <attDef ident="xml:id" mode="change" usage="opt"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="replace">
            <datatype>
              <dataRef key="teidata.pointer"/>
            </datatype>
          </attDef>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="met" mode="delete"/>
          <attDef ident="real" mode="delete"/>
          <attDef ident="rhyme" mode="delete"/>
          <attDef ident="enjamb" mode="delete"/>
          <attDef ident="part" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="choice" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
     
      
      <elementSpec ident="abbr" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="type" mode="delete"/>
        </attList>
      </elementSpec>    
      
      <elementSpec ident="g" module="gaiji" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="ref" mode="change" usage="rec"/>
        </attList>
      </elementSpec>
       
      <elementSpec ident="expan" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
        </attList>
      </elementSpec>
      
      
      <elementSpec ident="add" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/> 
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="status" mode="delete"/>
          <attDef ident="cause" mode="delete"/>
          <attDef ident="seq" mode="delete"/>
          <attDef ident="evidence" mode="delete"/>
          <attDef ident="instant" mode="delete"/>
          <attDef ident="hand" mode="change" usage="opt"/>
          <attDef ident="place" mode="change" usage="rec" select="below bottom margin top opposite overleaf above end inline inspace"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="unit" mode="delete"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="extent" mode="delete"/>
          <attDef ident="precision" mode="delete"/>
          <attDef ident="scope" mode="delete"/>
          <attDef ident="atLeast" mode="delete"/>
          <attDef ident="atMost" mode="delete"/>
          <attDef ident="min" mode="delete"/>
          <attDef ident="max" mode="delete"/>
          <attDef ident="confidence" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="extent" module="header" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/> 
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/> 
          <attDef ident="change" mode="delete"/> 
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="measure" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/> 
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/> 
          <attDef ident="change" mode="delete"/> 
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="unit" mode="change" usage="req"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="commodity" mode="delete"/>
        </attList> 
      </elementSpec>
      
      <elementSpec ident="dimensions" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/> 
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/> 
          <attDef ident="change" mode="delete"/> 
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="unit" mode="change" usage="req" select="mm in"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="extent" mode="delete"/>
          <attDef ident="precision" mode="delete"/>
          <attDef ident="scope" mode="change" usage="rec"/>
          <attDef ident="atLeast" mode="delete"/>
          <attDef ident="atMost" mode="delete"/>
          <attDef ident="min" mode="delete"/>
          <attDef ident="max" mode="delete"/>
          <attDef ident="confidence" mode="delete"/>
          <attDef ident="type" mode="change" usage="rec" select="leaves ruled pricked written miniatures binding box"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="charDecl" module="gaiji" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="glyph" module="gaiji" mode="change">
        <attList>
          <attDef ident="xml:id" mode="change"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="change"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="change"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="change" usage="rec"/>
          <attDef ident="source" mode="change" usage="rec"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="glyphName" module="gaiji" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="mapping" module="gaiji" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="type" mode="change" usage="rec"/>
          <attDef ident="subtype" mode="change" usage="opt"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="milestone" module="core" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <!--  <attDef ident="ana" mode="change" </attDef> -->
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="unit" mode="delete"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="subtype" mode="delete"/>
          <attDef ident="ed" mode="delete"/>
          <attDef ident="edRef" mode="delete"/>
          <attDef ident="spanTo" mode="delete"/>
          <attDef ident="break" mode="delete"/>
          <attDef ident="ana" mode="replace" usage="opt">
            <datatype>
              <dataRef key="teidata.pointer"/>
            </datatype>
          </attDef>
        </attList>
      </elementSpec>
      
      <elementSpec ident="width" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="facs" mode="delete"/>
          <attDef ident="change" mode="delete"/>
          <attDef ident="cert" mode="delete"/>
          <attDef ident="resp" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="unit" mode="change" usage="rec" select="in mm"/>
          <attDef ident="type" mode="delete"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="extent" mode="delete"/>
          <attDef ident="precision" mode="delete"/>
          <attDef ident="scope" mode="delete"/>
          <attDef ident="atLeast" mode="delete"/>
          <attDef ident="atMost" mode="delete"/>
          <attDef ident="min" mode="delete"/>
          <attDef ident="max" mode="delete"/>
          <attDef ident="confidence" mode="delete"/>
        </attList>
      </elementSpec>
      
      <elementSpec ident="height" module="msdescription" mode="change">
        <attList>
          <attDef ident="xml:id" mode="delete"/>
          <attDef ident="n" mode="delete"/>
          <attDef ident="xml:lang" mode="delete"/>
          <attDef ident="xml:base" mode="delete"/>
          <attDef ident="xml:space" mode="delete"/>
          <attDef ident="rend" mode="delete"/>
          <attDef ident="style" mode="delete"/>
          <attDef ident="rendition" mode="delete"/>
          <attDef ident="corresp" mode="delete"/>
          <attDef ident="synch" mode="delete"/>
          <attDef ident="sameAs" mode="delete"/>
          <attDef ident="copyOf" mode="delete"/>
          <attDef ident="next" mode="delete"/>
          <attDef ident="prev" mode="delete"/>
          <attDef ident="exclude" mode="delete"/>
          <attDef ident="select" mode="delete"/>
          <attDef ident="ana" mode="delete"/>
          <attDef ident="source" mode="delete"/>
          <attDef ident="unit" mode="change" usage="rec" select="in mm"/>
          <attDef ident="quantity" mode="delete"/>
          <attDef ident="extent" mode="delete"/>
          <attDef ident="precision" mode="delete"/>
          <attDef ident="scope" mode="delete"/>
          <attDef ident="atLeast" mode="delete"/>
          <attDef ident="atMost" mode="delete"/>
          <attDef ident="min" mode="delete"/>
          <attDef ident="max" mode="delete"/>
          <attDef ident="confidence" mode="delete"/>
        </attList>
      </elementSpec>
    </body>
  </text>
</TEI>
